<section>
  <h2>Películas en Cartelera</h2>
  <div "card-subtitle mb-2 text-muted">
    <h3>Avengers: Endgame</h3>
    <p>Horario: 18:00</p>
    <p>Precio: $10</p>
    <button "btn btn-success">Comprar</button>
  </div>

  <div "card-subtitle mb-2 text-muted">
    <h3>Spider-Man: No Way Home</h3>
    <p>Horario: 20:30</p>
    <p>Precio: $12</p>
    <button "btn btn-success">Comprar</button>
  </div>

  <div "card-subtitle mb-2 text-muted">
    <h3>Black Widow</h3>
    <p>Horario: 19:15</p>
    <p>Precio: $11</p>
    <button "btn btn-success">Comprar</button>
  </div>
</section>