<div class="p-0 mx-0">
  {{>navbar}}
  <div class="textoo">
    <img src="https://i.pinimg.com/originals/52/53/cf/5253cf935d176074e92fc1eb8ae9c30a.jpg" style="width: 100%;" alt="">
  </div>
</div>