<div class="row">
  <header>
    HOLA
  </header>
  <h2>Lista de usuarios</h2>
  <div class="col-12">
    <ul>
      {{#each users}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</div>