/* header {
  background-color: aquamarine;
}

h2 {
  background-color: aqua;
}

.textoo {
  background-color: yellowgreen;
}

article {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100px;
}

.card {
  background-color: blue;
} */
